:root {
    --main-color: blueviolet;
    --hover-color: rgb(224, 11, 189);
}

* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: var(--main-color);
}

.hs {
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
}

.divs {
    margin: auto;
    max-width: 600px;
}

button, .option, #highScores p {
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
    border-color: var(--main-color);
    
}

button:hover, .option:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
    cursor: pointer;
}

#highScoreLink:hover {
    cursor: pointer;
}

.option {
    
    padding: 2%;
}

#highScores p {
    background-color: rgb(212, 176, 245);
    color: white;
    border-radius: 10px;
    padding: 5px; 
}

#intro {
    text-align: center;
}

h3 {
    font-size: 25px;
    font-weight: bold; 
}

#evaluate {
    font-size: 30px;
    font-style: italic;
    color: gray;
    border-top: gray solid 1px;
    margin-top: 30px;
}


@media screen and (max-width: 500px) {
    .hs {
        display: block;
        text-align: center;
    }
   
    input {
        width: 80%;
    }
   
    #highScoresPage button {
        margin-bottom: 20px;
    }
}